<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .nav-link a {
            color: black;
        }
    </style>
</head>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angularjs")

@RenderSection("scripts", required: false)

<body style="padding-top:0px; margin-top: 0px;" class="ng-cloak">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Daniel's Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Blog", "Index", "Blog")</li>*@
                    <li>@Html.ActionLink("DBTest", "Index", "People")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dungeons & Dragons<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("D&D Home", "Index", "DnD")</li>
                            <li>@Html.ActionLink("D&D CharacterCreate", "CharacterCreate", "DnD")</li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Poker", "Play", "Poker")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <br /><br />
    <div class="container body-content">
        <br />
        <div class="panel">
            @RenderBody()
        </div>
    </div>
    <div class="container">
        <div class="panel">
            <footer>
                <br />
                <p>Want to contact me? Go <a href="/Email/ContactMe/">Here</a></p>
            </footer>
        </div>
    </div>



</body>
</html>

